#search
  background: none

  h1
    font-size: 4em
    color: #444
    margin-left: 35px
    margin-bottom: 20px

  .page
    width: 674px
    margin-left: 35px

  .post, .participacao, .page
    margin-bottom: 30px
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, 0.33)
    h2
      margin: 0

      &> a.front-link
        color: #444
        font-size: 30pt

    .read-more
      background: #444
      text-decoration: none
      color: white
      padding: 10px
      font-size: 1.5em
      font-wieght: bold
      float: right
      margin-bottom: 5px
      line-height: 7px
      border-radius: 10px 0 0 10px

      &:hover
        background: #DC6B48
