//sharrre.com

.agir-box
  .agir-title
    font-family: 'League Gothic'
    font-size: 5em
    color: #333
    border-bottom: 1px dotted #333
    line-height: 1em
    padding: .5em .7em .2em
    display: block
  .espalhe
    background-color: #f8f8f7
    padding: 3.5em
    display: inline-block
    h4
      color: #dadad5
      font-family: 'League Gothic'
      font-size: 4em
      line-height: 1em
      margin-bottom: .5em
    .box
      border: 8px solid #dadad5
      border-radius: 1em
      background-color: #d55626
      padding: 1em
      width: 12em
      float: left
      display: inline-block
      margin: 0 1em 1em 0
      text-align: center
      &:hover
        box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.33)
      a
        color: #fff
        font-size: 3em
        line-height: 1em
        font-family: 'League Gothic'
        text-decoration: none
        span,
        i
          display: block
        &.count
          background-color: #fff
          color: #444
          font-size: 1.5em
          padding: .5em
          border-radius: 1em
          display: inline-block
          min-width: 4.5em
      &.gp
        background-color: #dd4c39
        margin-right: 0
      &.tw
        background-color: #00acee
      &.fb
        background-color: #3b5999
    .box-horizontal
      border: 8px solid #dadad5
      border-radius: 1em
      background-color: #d55626
      padding: 1em
      float: left
      clear: both
      width: 45em
      label
        font-family: 'League Gothic'
        color: #fff
        font-size: 3em
        line-height: 1em
      input
        width: 68%
        line-height: 1em
        margin: 1em 1em
        vertical-align: top
        border-radius: .5em
      .button
        line-height: 1em
        font-family: 'League Gothic'
        font-size: 2.5em
        color: #dadad5
        background-color: #444
        padding: .45em
        border-radius: .5em
        display: inline-block
        text-decoration: none
        &:hover
          box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.33)

#comment-form
  padding: 4em 3.5em 0
  border-top: 1px dotted #333
  h4
    color: #dadad5
    font-family: 'League Gothic'
    font-size: 4em
    line-height: 1em

.comments-area
  margin-left: 0
  padding: 0 3.5em
