#sidebar-viral
  float: left
  max-width: 23em
  margin: 0 0 0 1.5em
  .social-box
    background-color: #fff
    border-radius: 0 1em 1em
    margin-bottom: 1.5em
    h3
      font-family: 'League Gothic'
      font-weight: normal
      font-size: 6em
      line-height: .9em
      color: #dadad5
      padding: .2em .1em 0
      i
        margin-right: .1em
    &.youtube
      #youtube-player
        background-color: #999999
        span
          font-size: 1em
          line-height: 1em
          color: #fff
          display: block
          margin: 0
          overflow: hidden
          padding: .5em
          height: .6em
        .titlec
          font-weight: bold
        .timec
          font-weight: normal
      .subscriber-channel
        width: 17em
        margin: 1em 0 1em 1em
        display: inline-block
    &.twitter
      .timeline-box
        margin: 0 .5em
    &.facebook
      .fb-facepile
        margin: 1.5em
      .invite-facebook
        background-color: #3b5999
        color: #fff
        margin: .3em
        font-size: 3.5em
        line-height: 1em
        font-family: 'League Gothic'
        display: inline-block
        padding: .5em
        border-radius: .5em
        text-align: center
        text-decoration: none
        i
          font-size: 1em
          display: block
