#landing
    background: #D8D8D4
    padding: 0 30px
    margin: 20px 0

    .header
        background: #E3C492
        overflow: hidden
        text-align: center
        padding: 0 0 10px
        margin-top: 20px

    .partidos
        background: url('assets/images/partidos.png') no-repeat
        width: 23%
        height: auto
        display: block
        margin: 0 auto

    h1, .social, .menu a, .content a, .video a
        font-family: 'League Gothic'
        text-decoration: none

    .menu a, .login a, .social a
        color: #F1E2C9
        &:hover
            color: #fff
            opacity: 1

    .menu a, .login a
        opacity: .5
        &:hover
            opacity: 1

    h1
        font-size: 6em
        font-weight: normal
        color: white
        line-height: 1em
        display: inline-block
        text-transform: uppercase
        margin: 10px auto

    .social,
    .login
        float: right
        margin-right: 20px

    .social
        color: white
        font-size: 1.6em
        margin-top: 10px

        a
            margin-right: 10px
            font-size: 1.2em
            text-decoration: none

    .menu
        float: left
        text-transform: uppercase
        margin: 0

        li
            list-style: none
            display: inline-block
            margin: 0 -7px

        a
            display: block
            padding: 18px 20px
            font-size: 1.6em
            line-height: 15px
            color: #FFF

            &.active
                color: #FFF
                opacity: 1
            &.muda:hover
                background: #E3C492
            &.minuta:hover
                background: #7FA31A
            &.desafio:hover
                background: #533B8C

    .rede, .psb
        .share
            background: #FFF
            width: 30px
            height: 30px
            display: inline-block
            border-radius: 20px

    .video
        width: 80%
    .video, .content
        margin: 70px auto 20px



        p
            color: white
            font-size: 1.6em

        a
            color: #F1E2C9
            text-decoration: none
            font-size: 2.4em
            text-transform: uppercase
            display: block
            clear: both

            &:hover
                color: #FFF

            span
                vertical-align: middle
                font-size: 1.4em


    .video
        display: none

        .texto-home
            text-align: left

    .main
        margin-bottom: 20px
        position: relative

        .icon-seta-em-frente
            font-size: 22px

    .verde, .azul
        width: 49%
        height: 370px
        margin-top: 20px
        padding: 20px
        text-align: center
        text-decoration: none
        box-sizing: border-box
        box-shadow: #999 2px 2px 10px

        &:hover
            box-shadow: #333 2px 2px 10px

        h2, p
            color: #FFF
            text-align: left

        h2
            font-size: 3em
        p
            font-size: 1.6em
            margin-top: 10px

        .info
            display: block
            margin-top: 10px


    .verde
        background: #7FA31A
        display: inline-block

        .info
            background: url('assets/images/landing-verde.png') no-repeat
            background-size: cover
            min-width: 211px
            min-height: 95px
            max-width: 422px
            max-height: 190px
            width: 100%
            height: 100%
            margin: 0 auto
            display: block

    .azul
        background: #533B8C
        display: inline-block
        right: 0
        position: absolute

        .info
            background: url('assets/images/landing-azul.png') no-repeat
            background-size: cover
            max-width: 353px
            max-height: 193px
            min-width: 177px
            min-height: 97px
            width: 100%
            height: 100%
            margin: 0 auto

    .footer
        border-top: 1px solid #B5B5B2
        padding: 10px 0
        display: block
        clear: both

    .disclaimer
        float: left
        width: 36%
    .rede
        float: right
        width: 36%
        line-height: 1.2em
        padding: 0

    .partidos
        background: url('assets/images/partidos.png') no-repeat
        width: 170px
        height: 60px
        margin: 0 auto
        display: block
        background-size: cover

        a
            display: inline-block
            width: 70px
            height: 60px
            margin-left: 13px
