$primary-color: #7fa31a
$secondary-color: #f2f2f2
$third-color: #231f20

//@import compass/css3

@import ../../bower_components/minimalect/jquery.minimalect
@import ../minuta/fonts

body.page-template-minuta-php
	font-family: 'PT Sans'

.pure-g-r > div
	box-sizing: border-box

@import ../minuta/header
@import ../minuta/content
@import ../minuta/sidebar
@import ../minuta/intro
